{
  "android": {
    "keystore": {
      "keystorePath": "../Schnell-Xserp/xserp/docs/schnell-xsmanager-keystore.jks",
      "keystorePassword": "<from Schnell-Xserp/xserp/build.gradle signingConfigs.playstore>",
      "keyAlias": "schnellXsmanagerKey",
      "keyPassword": "<same source>"
    }
  }
}
